$vicomma: #6f3a97;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
.header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
  margin-left: 50px;
  padding: 12px;
}

.left-nav {
  display: flex;
  flex-direction: row;
}

li,
a {
  font-size: 15px;
  text-decoration: none;
  display: inline;
  font-family: "Poppins", sans-serif;
  padding: 10px 8px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.panel {
  padding: 2em;
  border: 1px solid #f2f2f2;
  width: 100%;
  height: 100vh;
}

.sb-chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
}
